
#create-container {
    background-image: url('../../../assets/fbQHlR.webp');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: rgb(238,238,238);
    padding-bottom: 300px;
}

#create-content {
    text-align: center;
    width: 250px;
}

#title {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

#required {
    margin-bottom: 20px;
    font-size: 15px;
}

#create-content div {
    margin-top: 15px;
}

#create-content label {
    font-weight: bold;
}

#create-content input {
    outline: none;
    width: 100%;
    padding: 5px;
    border-radius: 13px;
    border: 1px solid;

}

a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

button {
    padding: 14px 60px;
    margin: 25px;
    border-radius: 50px;
    background: rgb(206,18,18);
    color:white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    background-color:#ec2727 ;
    outline: none;
}

textarea {
    outline: none;
    padding: 5px;
    border-radius: 13px;
    border: 1px solid;
    width: 250px;
    margin-top: 7px;
}

.section-header{
padding-bottom:30px;
}
