<div id="create-container">
    <div class="section-header">
        <p> <span>Add Pet</span></p>
    </div>

    <div id="required">* All fields are required</div>
    <div id="create-content">

        <form class="form" [formGroup]="createFormGroup" (ngSubmit)="onCreate()">

            <!-- name -->
            <div><label>Name: <input type="text" name="name" formControlName="name"></label></div>

            <ng-container *ngIf="createFormGroup.controls['name'].touched && createFormGroup.controls['name'].invalid">
                <div *ngIf="createFormGroup.controls['name'].errors?.['required']" class="input-invalid">
                    Name is required
                </div>
            </ng-container>

            <!-- type -->
            <div><label>Type: <input type="text" name="type" formControlName="type"></label></div>

            <ng-container *ngIf="createFormGroup.controls['type'].touched && createFormGroup.controls['type'].invalid">
                <div *ngIf="createFormGroup.controls['type'].errors?.['required']" class="input-invalid">
                    Type is required
                </div>
            </ng-container>

            <!-- years -->
            <div><label>Years: <input type="text" name="years" formControlName="years"></label></div>

            <ng-container
                *ngIf="createFormGroup.controls['years'].touched && createFormGroup.controls['years'].invalid">
                <div *ngIf="createFormGroup.controls['years'].errors?.['required']" class="input-invalid">
                    Years are required
                </div>
                <div *ngIf="createFormGroup.controls['years'].errors?.['pattern']" class="input-invalid">
                    Years must be in the format of <b> 5 years</b> or <b> 3 months </b>
                </div>
            </ng-container>

            <!-- location -->
            <div><label>Location: <input type="text" name="location" formControlName="location"></label></div>

            <ng-container
                *ngIf="createFormGroup.controls['location'].touched && createFormGroup.controls['location'].invalid">
                <div *ngIf="createFormGroup.controls['location'].errors?.['required']" class="input-invalid">
                    Location is required
                </div>
            </ng-container>

            <!-- description -->
            <div><label>Description: <textarea name="description" formControlName="description"></textarea></label>
            </div>

            <ng-container
                *ngIf="createFormGroup.controls['description'].touched && createFormGroup.controls['description'].invalid">
                <div *ngIf="createFormGroup.controls['description'].errors?.['required']" class="input-invalid">
                    Description is required
                </div>
                <div *ngIf="createFormGroup.controls['description'].errors?.['minlength']" class="input-invalid">
                    Description must be at least 20 characters long
                </div>
            </ng-container>

            <!-- image -->
            <div><label>Image URL: <input type="text" name="imageUrl" formControlName="imageUrl"></label></div>

            <ng-container
                *ngIf="createFormGroup.controls['imageUrl'].touched && createFormGroup.controls['imageUrl'].invalid">
                <div *ngIf="createFormGroup.controls['imageUrl'].errors?.['required']" class="input-invalid">
                    Image URL is required
                </div>
                <div *ngIf="createFormGroup.controls['imageUrl'].errors?.['pattern']" class="input-invalid">
                    Image url must start with <b>http://</b> or <b>https://</b> and must ends with <b>.png, .jpeg or .jpg</b>
                </div>
            </ng-container>

            <button type="submit" [disabled]="!createFormGroup.valid">Add pet</button>
        </form>

    </div>
</div>