<div id="register-container">
    <div class="section-header">
        <p> <span>Login</span></p>
    </div>
    <div id="register-content">
        <form class="form">
            <div><label>Email <input type="text" name="email" formControlName="email"></label></div>

            <div><label>Password <input type="password" name="password" formControlName="password"></label></div>

            <button type="submit">Login</button>
        </form>
        <p>You have not registed yet? Click<a routerLink="/register"> here</a></p>
    </div>
</div>