
<!-- ======= Header ======= -->
<header id="header" class="header">

    <div class="container">
  
      <a routerLink="/" class="logo">
        <img src="assets/img/logo.png" alt="">
        <h1>AdoptaPaw<span>.</span></h1>
      </a>
  
      <nav id="navbar" class="navbar">
  
        <ul>
  
          <!-- For all users -->
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/pets">Find a Pet</a></li>
  
          <!-- Only for logged in -->
          <li><a routerLink="/create">Add Pet</a></li>
          <li><a routerLink="/pets" class="last-in-menu">My Pets</a></li>
  
          <div class="nav-btns">
            <ul>
              <!-- Onlu for not nogged in -->
              <li><a class="btns" routerLink="/login">Login</a></li>
              <li><a class="btns" routerLink="/register">Register</a></li>
              <!-- Only for logged in -->
              <li><a class="btns" href="#book-a-table">Profile</a></li>
              <li><a class="btns" href="#book-a-table">Logout</a></li>
            </ul>
          </div>
  
        </ul>
      </nav>
  
    </div>
  
  </header>