<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Sorry</h2>
                <p data-aos="fade-up" data-aos-delay="100">We couldn't find that page!</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a routerLink="/" class="btn-book-a-table">Go to home page</a>
                </div>
            </div>
            <div class="home-img">
                <img src="\assets\dog-holding-paper-in-mouth.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section>
